<div class="box-container {{if parachuteOpen 'has-parachute'}}">
  <img src="images/parachute.svg" alt="" class="parachute">

  {{#paper-card class="box" as |card|}}
    {{#if fetchModel.isRunning}}
     {{paper-progress-linear class="loading"}}
   {{/if}}
   {{#card.content class="layout-column box-content"}}

   <div class="layout-row">
     <div class="layout-column flex-30">
       <h4>Parachute</h4>
     </div>
     <div class="layout-column flex-70 layout-align-end-end">
       {{#paper-switch value=parachuteOpen onChange=(action (mut parachuteOpen))}}
         {{if parachuteOpen 'Open' 'Closed'}}
       {{/paper-switch}}
     </div>
   </div>

   <div class="layout-row">
     <div class="layout-column flex-100">
       {{paper-input label="Search" value=search onChange=(action (mut search))}}
     </div>
   </div>

   <div class="layout-row">
     <div class="layout-column flex-100">
       {{paper-input type="number" label="Page" value=page onChange=(action (mut page))}}
     </div>
   </div>

   <div class="layout-row">
     <div class="layout-column flex-100">
       {{paper-chips
        content=tags
        removeItem=(action "removeTag")
        addItem=(action "addTag")
        placeholder="Add a tag"}}
     </div>
   </div>

   {{!-- <div>
     <button {{action (toggle 'direction' this 'asc' 'desc')}}>Sort: {{direction}}</button>
   </div>
   <div>
     {{input value=search placeholder="Search..."}}
   </div>
   <div>
     {{input value=page placeholder="Page" type="number"}}
   </div>
   <div class="">
     <button type="button" name="button" {{action 'addFilter'}}>Add Filter</button>
   </div>

   <div class="">
     {{#if queryParamsChanged}}
       <button type="button" name="button" {{action 'resetAll'}}>Reset All</button>
     {{/if}}
   </div> --}}
   {{/card.content}}

    {{#card.actions class="box-actions"}}
      {{#paper-button raised=true class="flex-50" disabled=(or (not queryParamsChanged) (not parachuteOpen))}}Set as Defaults{{/paper-button}}
      {{#paper-button raised=true primary=true onClick=(action "resetAll") class="flex-50" disabled=(or (not queryParamsChanged) (not parachuteOpen))}}Reset All{{/paper-button}}
    {{/card.actions}}
   {{/paper-card}}
</div>
